streamlit
crewai
crewai-tools
langchain
langchain-community
langchain-core
langchain-openai
langchain-groq
python-dotenv
validators
litellm
requests
beautifulsoup4
fastapi==0.109.1
uvicorn==0.27.0
sqlalchemy==2.0.25
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.0
validators==0.22.0
mysql-connector-python==8.2.0